<h1>Adicionar Usuário</h1>
<form action="/users/add" method="post">
  <div>
    <input type="text" name="nome" placeholder="Digite seu nome">
    <input type="text" name="idade" placeholder="Digite idade">
    <input type="submit" value="Cadastrar" />
  </div>
</form>

<hr>
